body {/*background-color: #fff3d1;*/
background-color: #141414;}

.main-title{
    font-family: 'Brush Script MT', cursive;
    font-size: 29px;
    text-align: center;
    color: white;
}

.title-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgbackg{
    width: 100%; /* max width scaled to the width of tha page adaptive */
    height: auto;
    background-size: contain;
    opacity: 0.7;
}

.searchbar{
    text-align: center;
}

/*
#pname{
    border: 1px solid #ffcd42;
    border-radius: 4px;
}*/

#lblpaint{
    font-family: 'Brush Script MT', cursive;
}

.smallimg{
    /*text-align: center;*/
    width: 200px;
    height: 200px;
}

#pinfo{
    font-size: 19px;
}

.pic{
    float:left;
    display:block;
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin: 10px;
    text-align: center;
}

/* big menu form*/
.menu-viewer{
    /*background-color: #ed9e15;*/
    background-color: #141414;
    /*text-align: center;*/
    display:block;
    /*border-width:2px;
    border-style:solid;
    /*border-color:black;*/
    margin: 10px;
}

.title-middle{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-align: center;
    color: black;
}

a,p{
    color: white;
}
.menu-item{  
    display:block;
    margin: 10px;
}
#pname{
    text-align: left;
    font-weight: bold;
}

#pprice{
    text-align: right;
    display: inline-block;
    float: right;
}

#pingridients{
    text-align: left;
    margin-top: 2px;
}
.contact-bottom{
    background-color: #4a4a4a;
    text-align: center;
    position: relative;
    bottom: 0;
    width: auto;
}

.cont-bot-text{
    text-align: center;
}

.marg-low{
    margin: 4px;
}